@model Fpt.Models.JobApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescribeYourself)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescribeYourself)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobList)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobList.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
