@model IEnumerable<Fpt.Models.JobList>

@{
    ViewData["Title"] = "Apply";
}

<h1>Lists of Job</h1>
<form asp-controller="JobLists" asp-action="Apply">
    <p>
        <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredSkills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredSkills)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Application.Id)
                </td>
                <td>
                    <a href="/JobApplications/Create?jobListId=@item.Id">Apply</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
